{% extends 'main.html' %}

{% block title %}Post{% endblock title %}

{% block navbar %}
<a href="{% url 'createpost' %}" class="btn btn-outline-light">✏️</a>
{% endblock navbar %}



{% block content %}
<div class="card mx-5 mt-3">
  <div class="card-header">
    <div class="row">
      <p class="col">{{post_data.title}}</p>
      {% if username ==  post_data.username %}
      <div class="col d-flex justify-content-end">
        <a href="{% url 'editpost' post_data.id %}" class="btn btn-outline-secondary mx-2">Update</a>
        <form action="" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-danger mx-2">Delete</button>
        </form>
        
      </div>
      {% endif %}
    </div>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{post_data.desc}}</p>
      <footer class="blockquote-footer">@{{post_data.username}}</footer>
    </blockquote>
  </div>
</div>
{% endblock content %}